function Check.movecheck 4
push argument 2
push constant 2
call Math.multiply 2
push argument 0
sub
pop local 0
push argument 3
push constant 2
call Math.multiply 2
push argument 1
sub
pop local 1
push constant 16384
push argument 3
push constant 512
call Math.multiply 2
add
push argument 2
add
pop local 2
push constant 16384
push local 1
push constant 512
call Math.multiply 2
add
push local 0
add
pop local 3
push local 2
push constant 64
add
call Memory.peek 1
push constant 1
neg
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 2
call Memory.peek 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
return
label IF_FALSE1
push local 2
call Memory.peek 1
push constant 384
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
neg
return
label IF_FALSE2
push local 2
push constant 64
add
call Memory.peek 1
push constant 8185
neg
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 3
call Memory.peek 1
push constant 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 2
return
label IF_FALSE4
push local 3
call Memory.peek 1
push constant 384
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 3
return
label IF_FALSE5
label IF_FALSE3
push constant 0
return
