function Draw.drawBox 1
push constant 16384
push argument 1
push constant 512
call Math.multiply 2
add
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 12277
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 14317
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15325
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15805
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15997
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15997
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15805
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15325
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 14317
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 12277
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.drawWall 1
push constant 16384
push argument 1
push constant 512
call Math.multiply 2
add
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.drawDest 1
push constant 16384
push argument 1
push constant 512
call Math.multiply 2
add
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 576
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 576
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 12300
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 12300
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 576
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 576
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 384
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.drawMap1 0
push constant 3
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 3
push constant 4
call Draw.drawBox 2
pop temp 0
push constant 4
push constant 5
call Draw.drawBox 2
pop temp 0
push constant 5
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 0
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 7
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 7
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 7
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 0
return
function Draw.drawMap2 0
push constant 2
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 3
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 0
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 0
return
function Draw.drawMap3 0
push constant 2
push constant 2
call Draw.drawBox 2
pop temp 0
push constant 3
push constant 2
call Draw.drawBox 2
pop temp 0
push constant 0
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 0
return
function Draw.drawMap4 0
push constant 2
push constant 7
call Draw.drawBox 2
pop temp 0
push constant 4
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 4
push constant 7
call Draw.drawBox 2
pop temp 0
push constant 7
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 8
push constant 5
call Draw.drawBox 2
pop temp 0
push constant 9
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 9
push constant 4
call Draw.drawBox 2
pop temp 0
push constant 9
push constant 7
call Draw.drawBox 2
pop temp 0
push constant 0
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 7
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 8
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 8
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 9
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 10
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 10
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 8
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 10
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 8
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 10
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 8
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 10
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 11
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 11
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 7
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 8
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 11
call Draw.drawWall 2
pop temp 0
push constant 8
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 8
push constant 8
call Draw.drawWall 2
pop temp 0
push constant 8
push constant 10
call Draw.drawWall 2
pop temp 0
push constant 8
push constant 11
call Draw.drawWall 2
pop temp 0
push constant 9
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 9
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 9
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 9
push constant 10
call Draw.drawWall 2
pop temp 0
push constant 10
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 10
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 10
push constant 7
call Draw.drawWall 2
pop temp 0
push constant 10
push constant 8
call Draw.drawWall 2
pop temp 0
push constant 10
push constant 9
call Draw.drawWall 2
pop temp 0
push constant 10
push constant 10
call Draw.drawWall 2
pop temp 0
push constant 11
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 11
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 11
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 11
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 11
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 0
return
function Draw.drawMap5 0
push constant 3
push constant 2
call Draw.drawBox 2
pop temp 0
push constant 3
push constant 4
call Draw.drawBox 2
pop temp 0
push constant 3
push constant 6
call Draw.drawBox 2
pop temp 0
push constant 3
push constant 8
call Draw.drawBox 2
pop temp 0
push constant 3
push constant 10
call Draw.drawBox 2
pop temp 0
push constant 5
push constant 2
call Draw.drawBox 2
pop temp 0
push constant 5
push constant 4
call Draw.drawBox 2
pop temp 0
push constant 5
push constant 6
call Draw.drawBox 2
pop temp 0
push constant 5
push constant 8
call Draw.drawBox 2
pop temp 0
push constant 5
push constant 10
call Draw.drawBox 2
pop temp 0
push constant 7
push constant 2
call Draw.drawBox 2
pop temp 0
push constant 7
push constant 4
call Draw.drawBox 2
pop temp 0
push constant 7
push constant 6
call Draw.drawBox 2
pop temp 0
push constant 7
push constant 8
call Draw.drawBox 2
pop temp 0
push constant 7
push constant 10
call Draw.drawBox 2
pop temp 0
push constant 9
push constant 2
call Draw.drawBox 2
pop temp 0
push constant 9
push constant 4
call Draw.drawBox 2
pop temp 0
push constant 9
push constant 6
call Draw.drawBox 2
pop temp 0
push constant 9
push constant 8
call Draw.drawBox 2
pop temp 0
push constant 9
push constant 10
call Draw.drawBox 2
pop temp 0
push constant 2
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 2
push constant 5
call Draw.drawBox 2
pop temp 0
push constant 2
push constant 7
call Draw.drawBox 2
pop temp 0
push constant 2
push constant 9
call Draw.drawBox 2
pop temp 0
push constant 4
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 4
push constant 5
call Draw.drawBox 2
pop temp 0
push constant 4
push constant 7
call Draw.drawBox 2
pop temp 0
push constant 4
push constant 9
call Draw.drawBox 2
pop temp 0
push constant 6
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 6
push constant 5
call Draw.drawBox 2
pop temp 0
push constant 6
push constant 7
call Draw.drawBox 2
pop temp 0
push constant 6
push constant 9
call Draw.drawBox 2
pop temp 0
push constant 8
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 8
push constant 5
call Draw.drawBox 2
pop temp 0
push constant 8
push constant 7
call Draw.drawBox 2
pop temp 0
push constant 8
push constant 9
call Draw.drawBox 2
pop temp 0
push constant 10
push constant 3
call Draw.drawBox 2
pop temp 0
push constant 10
push constant 5
call Draw.drawBox 2
pop temp 0
push constant 10
push constant 7
call Draw.drawBox 2
pop temp 0
push constant 10
push constant 9
call Draw.drawBox 2
pop temp 0
push constant 0
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 7
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 8
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 9
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 10
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 11
call Draw.drawWall 2
pop temp 0
push constant 0
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 1
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 2
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 3
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 4
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 5
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 6
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 7
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 8
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 9
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 10
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 11
call Draw.drawWall 2
pop temp 0
push constant 12
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 1
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 2
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 3
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 4
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 5
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 6
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 7
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 8
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 8
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 9
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 9
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 10
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 10
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 11
push constant 0
call Draw.drawWall 2
pop temp 0
push constant 11
push constant 12
call Draw.drawWall 2
pop temp 0
push constant 0
return
