function Main.main 5
push constant 1
push constant 4
push constant 4
call Game.new 3
pop local 0
call Map.map1 0
pop temp 0
push local 0
call Game.run 1
pop temp 0
push local 0
call Game.dispose 1
pop temp 0
push constant 2
push constant 5
push constant 3
call Game.new 3
pop local 1
call Map.map2 0
pop temp 0
push local 1
call Game.run 1
pop temp 0
push local 1
call Game.dispose 1
pop temp 0
push constant 3
push constant 1
push constant 2
call Game.new 3
pop local 2
call Map.map3 0
pop temp 0
push local 2
call Game.run 1
pop temp 0
push local 2
call Game.dispose 1
pop temp 0
push constant 4
push constant 5
push constant 3
call Game.new 3
pop local 3
call Map.map4 0
pop temp 0
push local 3
call Game.run 1
pop temp 0
push local 3
call Game.dispose 1
pop temp 0
push constant 5
push constant 3
push constant 5
call Game.new 3
pop local 4
call Map.map5 0
pop temp 0
push local 4
call Game.run 1
pop temp 0
push local 4
call Game.dispose 1
pop temp 0
call Finish.draw 0
pop temp 0
push constant 0
return
