function Map.map1 2
push constant 4
pop local 1
push constant 4
call Array.new 1
pop local 0
call Draw.drawMap1 0
pop temp 0
push constant 0
push local 0
add
push constant 1
push constant 4
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 3
push constant 1
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 4
push constant 6
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 6
push constant 3
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Map.map2 2
push constant 2
pop local 1
push constant 2
call Array.new 1
pop local 0
call Draw.drawMap2 0
pop temp 0
push constant 0
push local 0
add
push constant 2
push constant 2
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 4
push constant 2
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Map.map3 2
push constant 2
pop local 1
push constant 2
call Array.new 1
pop local 0
call Draw.drawMap3 0
pop temp 0
push constant 0
push local 0
add
push constant 1
push constant 1
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 4
push constant 5
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Map.map4 2
push constant 8
pop local 1
push constant 8
call Array.new 1
pop local 0
call Draw.drawMap4 0
pop temp 0
push constant 0
push local 0
add
push constant 5
push constant 2
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 5
push constant 3
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 5
push constant 4
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 5
push constant 5
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 6
push constant 5
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 6
push constant 6
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 6
push constant 7
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 6
push constant 8
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Map.map5 2
push constant 40
pop local 1
push constant 40
call Array.new 1
pop local 0
call Draw.drawMap5 0
pop temp 0
push constant 0
push local 0
add
push constant 2
push constant 2
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 2
push constant 4
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 2
push constant 6
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 2
push constant 8
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 2
push constant 10
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 3
push constant 3
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 3
push constant 5
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 3
push constant 7
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 3
push constant 9
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 4
push constant 2
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 4
push constant 4
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 4
push constant 6
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 4
push constant 8
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 4
push constant 10
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 5
push constant 3
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 5
push constant 5
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 5
push constant 7
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 5
push constant 9
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 6
push constant 4
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 6
push constant 2
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 6
push constant 8
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 6
push constant 10
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 7
push constant 3
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 7
push constant 5
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 7
push constant 7
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 7
push constant 9
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 8
push constant 2
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 8
push constant 4
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 8
push constant 6
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 8
push constant 8
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 8
push constant 10
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 9
push constant 3
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push local 0
add
push constant 9
push constant 5
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push local 0
add
push constant 9
push constant 7
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push local 0
add
push constant 9
push constant 9
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push local 0
add
push constant 10
push constant 2
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push local 0
add
push constant 10
push constant 4
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push local 0
add
push constant 10
push constant 6
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push local 0
add
push constant 10
push constant 8
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push local 0
add
push constant 10
push constant 10
call Destination.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
