function Player.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 4
push argument 1
pop this 0
push argument 2
pop this 1
push pointer 0
call Player.draw 1
pop temp 0
push pointer 0
return
function Player.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.draw 0
push argument 0
pop pointer 0
push constant 16384
push this 1
push constant 512
call Math.multiply 2
add
push this 0
add
pop this 2
push this 2
push constant 0
add
push constant 448
call Memory.poke 2
pop temp 0
push this 2
push constant 32
add
push constant 544
call Memory.poke 2
pop temp 0
push this 2
push constant 64
add
push constant 544
call Memory.poke 2
pop temp 0
push this 2
push constant 96
add
push constant 544
call Memory.poke 2
pop temp 0
push this 2
push constant 128
add
push constant 448
call Memory.poke 2
pop temp 0
push this 2
push constant 160
add
push constant 128
call Memory.poke 2
pop temp 0
push this 2
push constant 192
add
push constant 8188
call Memory.poke 2
pop temp 0
push this 2
push constant 224
add
push constant 128
call Memory.poke 2
pop temp 0
push this 2
push constant 256
add
push constant 128
call Memory.poke 2
pop temp 0
push this 2
push constant 288
add
push constant 128
call Memory.poke 2
pop temp 0
push this 2
push constant 320
add
push constant 128
call Memory.poke 2
pop temp 0
push this 2
push constant 352
add
push constant 320
call Memory.poke 2
pop temp 0
push this 2
push constant 384
add
push constant 544
call Memory.poke 2
pop temp 0
push this 2
push constant 416
add
push constant 1040
call Memory.poke 2
pop temp 0
push this 2
push constant 448
add
push constant 2056
call Memory.poke 2
pop temp 0
push this 2
push constant 480
add
push constant 4100
call Memory.poke 2
pop temp 0
push constant 0
return
function Player.erase 0
push argument 0
pop pointer 0
push constant 16384
push this 1
push constant 512
call Math.multiply 2
add
push this 0
add
pop this 2
push this 2
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 2
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Player.moveUp 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push this 1
push constant 1
sub
call Check.movecheck 4
pop this 3
push this 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 3
push constant 1
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 1
push constant 2
sub
call Draw.drawBox 2
pop temp 0
label IF_FALSE1
push pointer 0
call Player.erase 1
pop temp 0
push this 1
push constant 1
sub
pop this 1
push pointer 0
call Player.draw 1
pop temp 0
push pointer 0
call Player.recover 1
pop temp 0
push constant 0
return
function Player.moveDown 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push this 1
push constant 1
add
call Check.movecheck 4
pop this 3
push this 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 3
push constant 1
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 1
push constant 2
add
call Draw.drawBox 2
pop temp 0
label IF_FALSE1
push pointer 0
call Player.erase 1
pop temp 0
push this 1
push constant 1
add
pop this 1
push pointer 0
call Player.draw 1
pop temp 0
push pointer 0
call Player.recover 1
pop temp 0
push constant 0
return
function Player.moveLeft 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 1
sub
push this 1
call Check.movecheck 4
pop this 3
push this 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 3
push constant 1
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 2
sub
push this 1
call Draw.drawBox 2
pop temp 0
label IF_FALSE1
push pointer 0
call Player.erase 1
pop temp 0
push this 0
push constant 1
sub
pop this 0
push pointer 0
call Player.draw 1
pop temp 0
push pointer 0
call Player.recover 1
pop temp 0
push constant 0
return
function Player.moveRight 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
call Check.movecheck 4
pop this 3
push this 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 3
push constant 1
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 2
add
push this 1
call Draw.drawBox 2
pop temp 0
label IF_FALSE1
push pointer 0
call Player.erase 1
pop temp 0
push this 0
push constant 1
add
pop this 0
push pointer 0
call Player.draw 1
pop temp 0
push pointer 0
call Player.recover 1
pop temp 0
push constant 0
return
function Player.check_recover 0
push argument 0
pop pointer 0
push constant 16384
push argument 2
push constant 512
call Math.multiply 2
add
push argument 1
add
push constant 64
add
call Memory.peek 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 2
call Draw.drawDest 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.recover 0
push argument 0
pop pointer 0
push this 4
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push constant 1
push constant 4
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 3
push constant 1
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 4
push constant 6
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 6
push constant 3
call Player.check_recover 3
pop temp 0
label IF_FALSE0
push this 4
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push constant 2
push constant 2
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 4
push constant 2
call Player.check_recover 3
pop temp 0
label IF_FALSE1
push this 4
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push constant 1
push constant 1
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 4
push constant 5
call Player.check_recover 3
pop temp 0
label IF_FALSE2
push this 4
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push constant 5
push constant 2
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 5
push constant 3
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 5
push constant 4
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 5
push constant 5
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 6
push constant 5
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 6
push constant 6
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 6
push constant 7
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 6
push constant 8
call Player.check_recover 3
pop temp 0
label IF_FALSE3
push this 4
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push constant 2
push constant 2
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 2
push constant 4
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 2
push constant 6
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 2
push constant 8
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 2
push constant 10
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 3
push constant 3
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 3
push constant 5
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 3
push constant 7
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 3
push constant 9
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 4
push constant 2
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 4
push constant 4
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 4
push constant 6
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 4
push constant 8
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 4
push constant 10
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 5
push constant 3
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 5
push constant 5
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 5
push constant 7
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 5
push constant 9
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 6
push constant 4
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 6
push constant 2
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 6
push constant 8
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 6
push constant 10
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 7
push constant 3
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 7
push constant 5
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 7
push constant 7
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 7
push constant 9
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 8
push constant 2
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 8
push constant 4
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 8
push constant 6
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 8
push constant 8
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 8
push constant 10
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 9
push constant 3
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 9
push constant 5
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 9
push constant 7
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 9
push constant 9
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 10
push constant 2
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 10
push constant 4
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 10
push constant 6
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 10
push constant 8
call Player.check_recover 3
pop temp 0
push pointer 0
push constant 10
push constant 10
call Player.check_recover 3
pop temp 0
label IF_FALSE4
push constant 0
return
